/* GLOBAL LAYOUT */
#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-container-column,
.content-container-row {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
}

.content-container-column {
	flex-direction: column;
}

.content-container-row {
	flex-direction: row;
}

.content-container-fit-height,
.content-container-fit {
	height: 100%;
}

.content-container-fit-width,
.content-container-fit,
.form-control-fit {
	width: 100%;
}

.content-container-fit {
	padding: 5px 10px;
}

.content-tooltip {
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 0;
	opacity: 0;
	background: #29323c;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	padding: 10px;
	line-height: 1.3;
	font-size: 0.7rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* COMPONENT SEPARATE STYLE */

/* The grid that wraps the title and selection menu */
.component-header {
	align-items: center;
	max-height: 32px;
	flex-wrap: nowrap;
}

/* The grid that wraps the viz and the legend */
.component-container {
	height: calc(100% - 32px);
}

/* display: flex breaks the papers */
/* The div that wraps the svg of the visualization only*/
.viz-container {
	height: 100%;
}

a {
  margin: 10%;
  text-decoration: none;
}

path {
	fill: none;
	stroke: gray;
	stroke-width: 0.5px;
}