*.o
*.txt
*.qdrep
*.json
*.sqlite
*.zip
*.deb
*.cali
*.h5
.metadata/*

timemory*
xtracer/*
softwares/*

experiments/*
experiments/rodinia_3.1/*
experiments/vector_addition/vector_addition
experiments/xplacer/*
data/*
uvm-eval-data/*
src/data/*

*/__pycache__/*
*.pyc