# [uvm-trace]
CALI_SERVICES_ENABLE=alloc,cuptitrace,recorder
CALI_CUPTITRACE_ACTIVITIES=uvm
CALI_CUPTITRACE_UVM_PAGEFAULTS=false

# [uvm-report]
CALI_SERVICES_ENABLE=cuptitrace,report
CALI_CUPTITRACE_ACTIVITIES=device,uvm
CALI_REPORT_CONFIG="select cupti.uvm.kind as Kind,count(),scale(cupti.uvm.bytes,1e-6) as MB,scale(cupti.activity.duration,1e-9) as Time group by cupti.uvm.kind where cupti.uvm.kind format table"

# [uvm-tracking]
CALI_SERVICES_ENABLE=alloc,cupti,cuptitrace,trace,recorder,event,timestamp
CALI_ALLOC_RESOLVE_ADDRESSES=true
CALI_CUPTI_CALLBACK_DOMAINS=sync
CALI_CUPTITRACE_ACTIVITIES=uvm
CALI_CUPTITRACE_CORRELATE_CONTEXT=false
CALI_CUPTITRACE_FLUSH_ON_SNAPSHOT=true

# [uvm-tracking-total-report]
CALI_SERVICES_ENABLE=alloc,cuptitrace,trace,report,event
CALI_EVENT_TRIGGER=function
CALI_ALLOC_RESOLVE_ADDRESSES=true
CALI_CUPTI_CALLBACK_DOMAINS=sync
CALI_CUPTITRACE_ACTIVITIES=uvm
CALI_CUPTITRACE_CORRELATE_CONTEXT=false
CALI_CUPTITRACE_FLUSH_ON_SNAPSHOT=true
CALI_CUPTITRACE_FLUSH_TRIGGER=cali.event.end
CALI_CUPTITRACE_UVM_PAGEFAULTS=false
CALI_REPORT_CONFIG="select cupti.uvm.kind as Kind,alloc.label#cupti.fault.addr as Label,count(),scale(cupti.uvm.bytes,1e-6) as MB group by alloc.label#cupti.fault.addr,cupti.uvm.kind format table order by alloc.label#cupti.fault.addr,cupti.uvm.kind"

# [uvm-tracking-total]
CALI_SERVICES_ENABLE=alloc,cuptitrace,trace,recorder,event
CALI_EVENT_TRIGGER=function
CALI_ALLOC_RESOLVE_ADDRESSES=true
CALI_CUPTI_CALLBACK_DOMAINS=sync
CALI_CUPTITRACE_ACTIVITIES=uvm
CALI_CUPTITRACE_CORRELATE_CONTEXT=true
CALI_CUPTITRACE_FLUSH_ON_SNAPSHOT=true
CALI_CUPTITRACE_FLUSH_TRIGGER=cali.event.end
CALI_CUPTITRACE_UVM_PAGEFAULTS=true

# [uvm-tracking-report]
CALI_SERVICES_ENABLE=alloc,cupti,cuptitrace,trace,report
CALI_ALLOC_RESOLVE_ADDRESSES=true
CALI_CUPTI_CALLBACK_DOMAINS=sync
CALI_CUPTITRACE_ACTIVITIES=uvm
CALI_CUPTITRACE_CORRELATE_CONTEXT=true
CALI_CUPTITRACE_FLUSH_ON_SNAPSHOT=true
CALI_CUPTITRACE_UVM_PAGEFAULTS=true
CALI_REPORT_CONFIG="select cupti.uvm.kind as Kind,alloc.label#cupti.fault.addr as Label,count(),scale(cupti.uvm.bytes,1e-6) as MB group by alloc.label#cupti.fault.addr,cupti.uvm.kind format table order by alloc.label#cupti.fault.addr,cupti.uvm.kind"

# [nvbit-trace]
CALI_SERVICES_ENABLE=trace,recorder,event,timestamp
# CALI_ALLOC_RESOLVE_ADDRESSES=true

# [baseline]
CALI_SERVICES_ENABLE=event,timestamp,trace,recorder